@import "../../styles/variables.scss";

.footer-wrp {
  background-color: $secondary;
  height: 128px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 80px;
  .footer-items {
    width: 80%;
    p {
      font-size: 10px;
    }
  }
}
