@import "../../styles/variables.scss";

.menu-item-wrp {
  padding: 0 15%;
  gap: 10px;
  justify-content: center;
  margin: 25px 0;
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
